.App {
  .container{
    background-image: url(./assets/BG_Stripes.png);
    background-repeat: no-repeat;
  }
  max-width: 1366px;
  margin: 0 auto;
  overflow: hidden;
  .header_slider {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    img {
      width: 200px;
    }
    .desc {
      margin-right: 25%;
      display: flex;
      align-items: center;
      flex-direction: column;
      h2 {
        color: rgb(0 4 110);
        margin-left: 20%;
      }
    }
  }
  .p_desc {
    color: rgb(0, 4, 110);
    font-weight: bold;
    font-size: 18px;
    padding-left: 30%;
  }
  .slider_bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 60px;

    button {
      cursor: pointer;
      color: white;
      background-color: rgb(47, 197, 206);
      border-radius: 20px;
      border: none;
      margin-top: 10px;
      font-weight: 700;
      padding: 12px 25px;
    }
    h2 {
      color: rgb(0 4 110);
    }
  }
  .img_footer {
    display: flex;
    justify-content: flex-end;
    img {
      width: 200px;
    }
  }
}

@media screen and (max-width: 568px){
  .App{
    .header_slider{
      .desc{
        margin-right: 0;
        h2{
          margin-left: 0;
        }
      }
    }
  }
}