@font-face {
    font-display: swap;
    font-family: "Helvetica";
    src: url("./Fonts/Helvetica/Helvetica.ttf")  format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Agenda";
    src: url("./Fonts/Agenda/Agenda-Semibold.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Roboto";
    src: url("./Fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype");
  }

  @font-face {
    font-display: swap;
    font-family: "Roboto";
    src: url("./Fonts/Roboto/Roboto-Bold.ttf") format("truetype");
  }